---
layout: default
---

<!-- Banner -->
			<section id="banner">
				<h1>Vaporware</h1>
				<p>Today's solutions, tomorrow</p>
			</section>
 
		<!-- One -->
			<section id="one" class="wrapper">
				<div class="inner">
					<div class="flex flex-3">
                        <a name="mission"></a>
						<article>
							<header>
								<h3>Mission</h3>
							</header>
							<p>During the recent years, the use of SEO strategies has skyrocketed, along side with social media presence. Companies struggle to keep even strides with competitors and even the slightes edge can either make it or break it. Using our technology, your buisness can utilize the very bleeding edge of Machine Learning Blockchain Sideloading&trade; (MLBS).</p>
						</article>
						<article>
							<header>
								<h3>Technology</h3>
							</header>
							<p>Using our proprietary custom designed neural networks, we unleash the true power of quantum bits. Machine learning has reached a point in time when even the most complex system are easily decipherable, if you have the tools to understand them. Other approaches uses legacy algorithms, which we have surpassed. Our revolutionary architecture enables us use the mother modem to strike the problem at the very heart of the harddrive.</p>
						</article>
						<article>
							<header>
								<h3>Roadmap</h3>
							</header>
							<p>Given the unpredictable nature of gradient decent algorithms, a timeline of convergence is hard to predict. Our aim is to steadily increase the number of qubits in operation, though the state of the matter is that any peturbation of the superposition will cause a collapse.</p>
						</article>
					</div>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style1 special">
				<div class="inner">
                    <a name="team"></a>
					<header>
						<h2>The Team</h2>
					</header>
					<div class="flex flex-4">
						<div class="box person">
							<div class="image round">
								<img src="images/pic03.jpg" alt="Person 1" />
							</div>
							<h3>Sylvia Velvela</h3>
							<p>Founder &amp; CEO</p>
						</div>
						<div class="box person">
							<div class="image round">
								<img src="images/pic04.jpg" alt="Person 2" />
							</div>
							<h3>Gilbert Liva</h3>
							<p>Founder &amp; CTO</p>
						</div>
						<div class="box person">
							<div class="image round">
								<img src="images/pic05.jpg" alt="Person 3" />
							</div>
							<h3>Barukh Arnulf</h3>
							<p>VP, Sales</p>
						</div>
						<div class="box person">
							<div class="image round">
								<img src="images/pic06.jpg" alt="Person 4" />
							</div>
							<h3>Olivier Bradan</h3>
							<p>VP, Engineering</p>
						</div>
					</div>
				</div>
			</section>


