<!-- Header -->
    <header id="header">
        <div class="inner">
            <nav id="nav">
                <a href="#">Home</a>
                <a href="#mission">Mission</a>
                <a href="#team">Team</a>
            </nav>
            <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
        </div>
    </header>
