<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

	{{ content }}

    {% include footer.html %}
    
    <!-- Scripts -->
    <script src="js/jquery.min.js"></script>
    <script src="js/skel.min.js"></script>
    <script src="js/util.js"></script>
    <script src="js/main.js"></script>

  </body>

</html>
